* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: -webkit-fill-available;
}
nav {
	font-weight: bold;
	text-align: left;
	/*padding-right: 2em;*/
	position: relative;
		}

#wrapper {margin-left: auto;
		margin-right: auto;
		width: 80%;
		/*background-color: #fff;*/
		min-width: 400px; max-width: 2048px;
		}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: rgba(230,230,230,0.3)
}
.fa {
    padding: 10px;
    font-size: 40px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-github {
    background: black;
    color: white;
}
h1{
    color: white;
}

.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
    width: 100%;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 400px; max-width: auto;
  height: 500px;
}


body{
    background-color: coral;
    background-image: url("graphic%20designs/background.jpg");
    background-size: cover;
}
